source https://nuget.org/api/v2
source https://dotnet.myget.org/F/open-xml-sdk/api/v2

// https://dotnet.myget.org/feed/open-xml-sdk/package/nuget/DocumentFormat.OpenXml
nuget DocumentFormat.OpenXml >= 2.7.2-vnext0027
